node_modules
.next
out
dist
build

# 테스트 파일
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/__tests__/**
**/__mocks__/**
**/__mock.ts

# 설정 파일
*.config.js
*.config.ts
vitest.config.ts
next.config.mjs

# 빌드 결과물
.next/
out/
dist/
build/

# 기타
public/mockServiceWorker.js

