@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-nanum-neo: 'NanumSquareNeo';
  --swiper-theme-color: #816DFF !important;
}

html {

  font-family: var(--font-nanum-neo);
  touch-action: none; /* 상하 스크롤은 가능, 줌 방지 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nanum-neo);
  /* font-family: Arial, Helvetica, sans-serif; */
  max-width: 420px;
  touch-action: none; /* 상하 스크롤은 가능, 줌 방지 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet-active{
  background-color: #816DFF;
}


.border-0\.5 {
  border-width: 0.5px;
}

.naverBtn {
  background-image: url('./assets/icons/btnG_아이콘원형.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.kakao-color {
  background-color: #FEE500;
}

.kakaoBtn {
  background-image: url('./assets/icons/Vector.png');

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* styles.css */
.shadow-up-sm {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.shadow-up-md {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.15);
}

.shadow-up {
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
}

.shadow-up-lg {
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.25);
}

.scroll-bar-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-bar-hidden {
  -ms-overflow-style: none;
  /* IE and 엣지 */
  scrollbar-width: none;
  /* 파이어폭스 */
}


.slide-enter {
  opacity: 1;
  transform: translateX(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms ease, transform 1000ms ease;
}

/* Slide-out to right */
.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 1;
  transform: translateX(100%);
  transition: opacity 1000ms ease, transform 1000ms ease;
}